/* Minimalist ListView Style */
.list-view {
    -fx-background-color: transparent; /* Transparent background for a minimalist look */
    -fx-border-color: #ccc; /* Light gray border */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-padding: 10px;
    -fx-font-size: 20px; /* Adjust font size */
    -fx-font-family: "Segoe UI", sans-serif; /* Modern font family */
}

.list-cell {
    -fx-background-color: transparent; /* Transparent background for list items */
    -fx-text-fill: #333; /* Dark text color */
    -fx-padding: 10px 15px; /* Padding inside list items */
    -fx-alignment: center-left; /* Align text to the left */
    -fx-font-size: 20px; /* Font size for the list item */
    -fx-pref-height: 26.0;
}


.list-cell:filled:hover {
    -fx-background-color: #f0f0f0; /* Light gray background on hover */
}


.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
    -fx-padding: 0px;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.combo-box .list-cell {
    -fx-font-size: 13px;
}
